env:
 - ZMQ="git://github.com/zeromq/zeromq4-x.git -b v4.0.3" SODIUM="git://github.com/jedisct1/libsodium.git -b 0.4.5"
before_install:
 - sudo apt-get install uuid-dev
 - git clone --depth 1 $ZMQ zmqlib
 - cd zmqlib
 - ./autogen.sh
 - ./configure
 - make
 - sudo make install
 - sudo /sbin/ldconfig
 - cd ..
before_script:
  coffee -c -o lib src
after_success:
  npm run coverage
language: node_js
node_js: 0.10